a {
	text-decoration: none !important;
}

.accordion-container label {
    display: inline-block;
    height: 22px;
    cursor: pointer;
    font-weight: bold;
}

.accordion-container section {
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    transition: 
	height 0.3s ease-in-out, 
	box-shadow 0.6s linear;
}

.accordion-container textarea {
    white-space: pre;
	overflow: hidden;
	font-size: 11px;
	padding: 10px;
	background-color: #f0f0f1 !important;
	width: 100%;
    margin-top: 10px;
}

.accordion-container input:checked ~ section {
    transition: height 0.5s ease-in-out;
}

.accordion-container input:checked ~ section.accordion {
    height: 200px;
    width: 90%;
    padding: 10px 20px 0;
}

.accordion-container .accordion-box {
    background: #e5e5e5;
	padding: 15px 15px;
}

.accordion-container .table-form th {
    vertical-align: top;
	text-align: left;
	padding: 10px 0 10px;
	width: 200px;
	line-height: 1.3;
	font-weight: 600;
}

.accordion-container .table-form, .accordion-field-wrap input {
    width: 50%;
}

.accordion-container .table-form {
    width: 100%;
    margin-top: 10px;
}

.arvancloud-storage-config-form button {
	min-width: 100px;
	z-index: 1000;
}

.acs-defined-in-config {
    background: #062026;
	color: #fff;
	padding: 2px 5px;
	margin: 0 0 3px 5px;
	float: right;
	white-space: nowrap;
	clear: right;
	position: relative;
	border-radius: 5px;
	font-weight: bold;
}

.rtl .acs-defined-in-config {
	float: left;
}

.acs-back-btn {
	font-size: 16px;
	font-weight: bold;
	color: #2271b1;
}

.acs-change-btn {
	font-weight: bold;
	border-radius: 5px;
	padding: 1px 5px;
}

.acs-bucket-list {
    padding: 15px;
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #fff;
	font-size: 14px;
	margin-bottom: 20px;
	border-radius: 5px;
}

.acs-bucket-list h4 {
	margin: 0 0 10px 0;
	font-weight: bold;
	color: #aaaaaa;
}

.acs-bucket-list label {
    padding: 10px;
	border-bottom: #f0f0f1 1px solid;
	cursor: pointer;
	margin-bottom: 0;
	display: block;
}

.acs-bucket-list label:last-of-type {
    border-bottom: none;
}

.bucket-actions span {
    float: right;
}

.rtl .bucket-actions span {
    float: left;
}

.acs-footer {
    background-color: #062026;
	border-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
}

.acs-footer-links {
    width: 70%;
    float: left;
}
.acs-footer-links ul {
    width: 100%;
}

.acs-footer-links ul li {
    display: inline-block;
    margin-inline-end: 15px;
    margin-bottom: 0;
}

.acs-footer-links ul li a {
    color: #7ce8dd;
    opacity: .6;
}

.acs-footer-links ul li a:hover {
    opacity: 1;
}

.acs-footer-social {
    width: 30%;
    float:right;
}

.footer__social-icons {
    float: right;
    width: 250px;
    -webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	text-align: left;
	direction: ltr;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.rtl .footer__social-icons {
	float: left;
}

.footer__social-icons__link {
	display: block;
}

.footer__social-icons__link svg {
	width: 30px;
	height: 30px;
}

.footer__social-icons--instagram:hover rect, .footer__social-icons--linkedin:hover circle, .footer__social-icons--linkedin:hover path, .footer__social-icons--linkedin:hover rect, .footer__social-icons--twitter:hover path {
	fill: #7ce8dd!important;
}

.footer__social-icons--instagram:hover circle {
	fill: #062026!important;
}

.footer__social-icons--telegram:hover path {
	fill: #7ce8dd!important;
}

.footer__social-icons--github:hover path {
	fill: #7ce8dd!important;
}

.footer__social-icons--telegram:hover polyline {
	fill: #062026!important;
}

#toplevel_page_wp-arvancloud-storage img {
	width: 50%;
}

.field-icon {
	right: 30px;
    margin-top: 5px;
    position: relative;
    z-index: 2;
	color: #2271b1;
}

.rtl .field-icon {
	left: 30px;
	right: auto !important;
}

.ar-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#bulk_upload_progress {
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;
    background: #fff;
    border-radius: 4px;
    margin: 100px auto;
    padding: 50px;
}

#bulk_upload_progress .original {
	height: unset;
	font-size: 26px;
    margin-bottom: 20px;
}

#bulk_upload_text {
	margin-top: 20px;
}

.copy-text {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
	margin-bottom: 30px !important;
}

.copy-text > .dashicons {
	padding-right: 5px;
}

.rtl .copy-text > .dashicons {
	padding-right: 0;
	padding-left: 5px;
}